html, body {
    background-color: $app-base-color;
    margin:0;
    padding:0;
}

.element-shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23)
}

.app-title {
    font-variant-caps: small-caps;
}

.nav-link {
    border-radius: 0px !important;
}
.nav-tabs > li.active > a {
    color: #3c5a78;
    // font-size: 13px;
}
.nav-tabs > li > a {
    color: #FFF;
    // font-size: 13px;
}

.card-header {
    border-radius: 0px !important;
    padding: 0.5rem 1rem !important;
    border-bottom: 1px solid #fff;
}